body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(185, 75%, 39%);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    min-height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
}

#bg-pattern {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.profile-details{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    justify-content: center;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

#profile-img{
    border-radius: 50%;
    border: 3px solid hsl(0, 0%, 100%);
    position: relative;
    bottom: 50px;
}

.bio{
    position: relative;
    bottom: 50px;
}

h1 {
    font-size: 18px;
    font-weight: 700;
}

span {
    color: hsl(229, 23%, 23%);
    font-weight: 400;
    margin-left: 5px;
}

.bio p {
    color: hsl(227, 10%, 46%);
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    bottom: 30px;
    border-top: 1px solid hsl(0, 0%, 59%);
    font-weight: 400;
}

.details1{
    line-height: 2px;
}

h4{
    font-size: 18px;
    font-weight: 700;
}

.details p {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 12px;
}